// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import "../css/slick.css";
@import "../css/slick-theme.css";
@import "../bootstrap/css/bootstrap.css";
@import "../css/style.css";
@import "../css/media.css";
